<!DOCTYPE html>
{% autoescape true %}
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <meta charset="UTF-8">
    {% if isIndex %}
    <title>Open Reservation</title>
    {% else %}
    <title>User Page: {{user}}</title>
    {% endif %}
</head>
{% if isIndex %}
<h1>Welcome to Open Reservation! {{dt}}</h1>
{% else %}
<h1>Information about {{user}}</h1>
{% endif %}
{% if isIndex %}
<section1>
    {% for resource in resources %}
        <a href="/resource?resource_name={{resource.resource_name}}">{{resource.resource_name}}</a>
        {{resource.owner}}
        {{resource.available_time_start.strftime("%H:%M:%S")}}
        {{resource.available_time_end.strftime("%H:%M:%S")}}
        {% for tag in resource.tags %}
            {{tag}}
        {% endfor %}
        <hr>
    {% endfor %}
    <a href="/addresource">add a new resource!</a>
    <br>
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
</section1>
{% endif %}
{%if isIndex%}
<section2>
{% else %}
<section1>
{% endif %}
    <form action="/search" method="get">
        <input type="text" name="resource_name">
        <input type="submit" value="search">
    </form>
    {% for reservation in reservations %}
        {{reservation.user}}
        {{reservation.resource_name}}
        <a href="/reservation?resource_name={{reservation.resource_name}}">{{reservation.start_datetime.strftime("%m/%d/%y,%H:%M:%S")}} to {{reservation.end_datetime.strftime("%m/%d/%y,%H:%M:%S")}}</a>
        <a href="/deletereservation?resource_name={{reservation.resource_name}}&start_datetime_string={{reservation.start_datetime_string}}">delete</a>
        <hr>
    {% endfor %}
{%if isIndex%}
</section2>
{% else %}
</section1>
{% endif %}

{%if isIndex%}
<section3>
{% else %}
<section2>
{% endif %}
    {% for resource in myresources %}
        <a href="/resource?resource_name={{resource.resource_name}}">{{resource.resource_name}}</a>
        <hr>
    {% endfor %}
{%if isIndex%}
</section3>
{% else %}
</section2>
{% endif %}
</html>
{% endautoescape %}