<!DOCTYPE html>
<html lang="en">
{% autoescape true %}
<head>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Resource Page of {{resource.resource_name}}</title>
</head>
<body>
<div class="or-masthead">
    <div class="container">
        <nav class="or-nav">
            <a class="or-nav-item" href="/">Home</a>
            <a class="or-nav-item" href="/addresource">Add Resources</a>
            <a class="or-nav-item" href={{url}}>{{url_linktext}}</a>
        </nav>
    </div>
</div>
<div class="container">
    <div class="or-header">
        <h1 class="or-title">Resource Page of {{resource.resource_name}}</h1>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-8 or-main">
            <div class="or-resource">
                <a href="/addreservation?resource_name={{resource.resource_name}}">Reserve
                    {{resource.resource_name}}</a><br>
                <a href="/RSS?resource_name={{resource.resource_name}}">Dump this resource to RSS</a><br>

                <p>Reserved times: {{resource.reserve_times}}<br>
                    Tags:
                    {% for tag in resource.tags %}
                    <a href="/tag?tag={{tag}}">{{tag}}</a>
                    {% endfor %}
                    <br>
                </p>

                <div><img src="/img?img_id={{resource.key.urlsafe()}}"></img></div>
                {{resource.description}}<br>
                <hr>
            </div>
            <div class="or-resource">
                <h2 class="or-res-title">Reservations of {{resource.resource_name}}:</h2>
                {% for reservation in reservations %}
                <a href="/reservation?resource_name={{reservation.resource_name}}">{{reservation.start_datetime.strftime("%m/%d/%y,%H:%M:%S")}}
                    to {{reservation.end_datetime.strftime("%m/%d/%y,%H:%M:%S")}}</a>
                <br>

                <p class="or-res-name"></a>made by <a
                        href="/user?user={{reservation.user}}">{{reservation.user}}</a>
                </p>
                <hr>
                {% endfor %}
            </div>
        </div>
        {% if resource.owner|string == user|string %}
        <div class="col-sm-3 col-sm-offset-1 or-sidebar">
            <script type="text/javascript" src="/js/addtags.js"></script>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Change Resource Information</h4>

                <form role="form" action="/resource/change" method="post">
                    <div class="form-group">
                        <label>Resource name:</label><br>
                        <input type="text" name="resname" value={{resource.resource_name}}><br>
                    </div>
                    <div class="form-group">
                        <label>Avalibale start time:</label><br>
                        <input type="time" name="stime"
                               value={{resource.available_time_start.strftime("%H:%M:%S")}}><br>
                    </div>
                    <div class="form-group">
                        <label>Avalibale end time:</label><br>
                        <input type="time" name="etime"
                               value={{resource.available_time_end.strftime("%H:%M:%S")}}><br>
                    </div>
                    <div id="tags" class="form-group">
                        <label>Tags:</label>
                        <input type="button" class="btn btn-default" value="add tags"
                               onclick="addTags('tags');"><br>
                        {% for tag in resource.tags %}
                        <input type="text" name="tags" value={{tag}}><br>
                        {% endfor %}
                    </div>

                    <input type="submit" class="btn btn-info" value="change">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endautoescape %}