
section1 {
    position: fixed;
    top:50px;
    width:500px;
    float:left;
    padding:10px;
}
section2 {
    position: fixed;
    top:50px;
    left:600px;
    width:500px;
    padding:10px;
}
section3{
    position: fixed;
    top:50px;
    left:1200px;
    width:500px;
    padding:10px;
}