<!DOCTYPE html>
<html lang="en">
{% autoescape true %}
<head>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <link type="text/css" href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link rel="icon" href="/img/OR_H.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <title>Resource Page of {{resource.resource_name}}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Open Reservation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" data-toggle="modal"
                       data-target="#addResourceModal" href="/#">Add Resources</a></li>
                <li><a href={{url}}>{{url_linktext}}</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/search" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="resource_name" placeholder="resource name">
                </div>
                <input type="submit" class="btn btn-default" value="search">
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="or-header">
        <h1 class="or-title">{{resource.resource_name}}</h1>

        <p class="or-description">The resource page of {{resource.resource_name}}. <a
                href="/RSS?resource_name={{resource.resource_name}}">Dump to RSS</a></p>

    </div>

    <div class="row">
        <div class="col-sm-8 or-main">
            <div class="or-resource">
                <h2 class="or-res-title">About {{resource.resource_name}}</h2>

                <p>
                    Tags:
                    {% for tag in resource.tags %}
                    <a class="label label-info" href="/tag?tag={{tag}}">{{tag}}</a>
                    {% endfor %}
                    <br>
                </p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reservation">
                    Reserve
                </button>
                &nbsp&nbsp&nbsp
                {% if resource.owner|string == user|string %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modify">
                    Modify
                </button>
                {% endif %}<br>
                Reserved times: {{resource.reserve_times}}<br>
                <br>
                {% if hasImg %}
                <div><img src="/img?img_id={{resource.key.urlsafe()}}"></img></div>
                {% endif %}
                <br>
                {% if resource.description %}
                <p class="or-res-name">Description: {{resource.description}}<br></p>
                <br>
                {% endif %}
            </div>
            <div class="or-resource">
                <h2 class="or-res-title">Reservations of {{resource.resource_name}}:</h2>
                {% for reservation in reservations %}
                <p class="or-res-name">{{loop.index}}. Made by <a
                        href="/user?user={{reservation.user}}">{{reservation.user}}</a></p>

                <p class="or-res-name">from {{reservation.start_datetime.strftime("%I:%M %p")}}
                    to {{reservation.end_datetime.strftime("%I:%M %p")}} in {{reservation.end_datetime.strftime("%b %d
                    %Y")}}
                </p>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<footer class="or-footer">
    <p>Website built by Yixian Fu © 2015</p>

    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
<!-- Add Reservation Modal -->
<div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Reserve {{resource.resource_name}}</h4>
            </div>
            <div class="modal-body">
                <p class="or-res-name">Available time: {{resource.available_time_start.strftime("%H:%M")}} to {{resource.available_time_end.strftime("%H:%M")}}</p>
                <form class=class="form-group" role="form" action="/addreservation/result" method="post">
                    <div class="form-group">
                        <label>start time:</label><br>
                        <input type="datetime-local" name="stime" class="form-control input-lg" required><br>
                    </div>
                    <div class="form-group">
                        <label>duration(hours):</label><br>
                        <input type="text" name="duration" class="form-control input-lg" required
                               placeholder="e.g. 1"><br>
                    </div>
                    <input type="hidden" name="resource_name" value="{{resource_name}}"><br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Reserve</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modify Modal -->
<div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Modify {{resource.resource_name}}</h4>
            </div>
            <div class="modal-body">
                <form class=class="form-group" role="form" action="/resource/change" method="post">
                    <div class="form-group">
                        <label>Resource name:</label><br>
                        <input type="text" name="resname" value={{resource.resource_name}} class="form-control input-lg"
                               required><br>
                    </div>
                    <div class="form-group">
                        <label>Avalibale start time:</label><br>
                        <input type="time" name="stime"
                               value={{resource.available_time_start.strftime("%H:%M:%S")}}
                               class="form-control input-lg" required><br>
                    </div>
                    <div class="form-group">
                        <label>Avalibale end time:</label><br>
                        <input type="time" name="etime"
                               value={{resource.available_time_end.strftime("%H:%M:%S")}} class="form-control input-lg"
                               required><br>
                    </div>
                    <div id="tags" class="form-group">
                        <label>Tags:</label>
                        <input type="button" class="btn btn-default" value="add tags"
                               onclick="addTags('tags');"><br>
                        {% for tag in resource.tags %}
                        <input type="text" name="tags" value={{tag}}><br>
                        {% endfor %}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Resources Modal -->
<div class="modal fade" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a New Resource</h4>
            </div>
            <div class="modal-body">
                <script type="text/javascript" src="/js/addtags.js"></script>
                <form class="form-group" role="form" action="/addresource/result"
                      enctype="multipart/form-data"
                      method="post">
                    <div class="form-group">
                        <label>Resource Name:</label><br>
                        <input type="text" id="resname" name="resname" class="form-control input-lg" required
                               placeholder="Enter resource name here"><br>
                    </div>
                    <div class="form-group">
                        <label>Avalibale Start Time:</label><br>
                        <input type="time" name="stime" class="form-control input-lg" required>
                    </div>
                    <div class="form-group">
                        <label>Avalibale End Time:</label><br>
                        <input type="time" name="etime" class="form-control input-lg" required>
                    </div>
                    <div class="form-group" id="tags2">
                        <label>Tags:</label>
                        &nbsp;&nbsp
                        <input type="button" class="btn btn-default" value="add tags"
                               onclick="addTags('tags2');"><br>
                        <input type="text" name="tags">
                    </div>
                    <div class="form-group">
                        <label>Image:</label><br>
                        <input type=file name="img"><br>
                    </div>
                    <div class="form-group">
                        <label>Description</label><br>
                        <input type="" cols="8" rows="3" name="description" class="form-control input-lg"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Reserve</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
{% endautoescape %}